# BACKEND_PORT is the main application port in a production environment,
# serving the frontend as well

BACKEND_PORT=8080
FLASK_ENV=production
FRONTEND_API_PATH="/api"
DB_HOST=db
# DB_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=weather

# FRONTEND_TEST=1
