:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.c-shadow,
.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 0 4px #0005 !important;
}

/* Default override styles */
.material-symbols-outlined {
  display: block;
  font-size: 30px;
  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.central-message {
  margin: auto;
  min-height: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px #777;
  max-width: 60vw;
  padding: 20px;
}

.central-message h1 {
  font-size: 3rem;
  font-weight: 400;
}

.error-message {
  color: #777;
}
